body {
    background-image: url(./src/cloud.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    margin: 2rem;
    font-size: 5rem;
}

.white-box {
    background-color: white;
    border-radius: 10px;
    margin: 2rem;
    height: 20rem;
}